<% if current_user == @user %>
  <%= link_to "/users/#{@user.id}/badges/#{@badge.id}/edit", class:"cancel-link", style:"margin-left: 0;" do %>
    <div class="submit-black">
      EDIT
    </div>
  <% end %>
<% end %>
