<div class="background">
  <h1 class="form-title">Edit Badge</h1>

  <% if current_user.id == @badge.user_id %>
    <%= render 'badges_form' %>
  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to edit badges</h1>
  <% end %>
</div>
