<div class="background">
  <% if current_user %>
    <h1 class="form-title">Create Badge</h1>
    <%= render 'badges_form' %>
  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to create a badge</h1>
  <% end %>
</div>
