<div class="background">
  <% if current_user %>
    <div class="container" style="margin-top: 0; text-align: center;">
      <h3 class="form-option">Create a custom badge:</h3>
        <%= render 'badges_form' %>

        <div class="float">
          <%= link_to "/users/#{current_user.id}", class:"cancel-link" do %>
            <div class="submit-blue">CANCEL</div>
          <% end %>
        </div>
      </div>
  <% else %>
    <h1 class="login-message"><%= link_to "LOGIN", :login %> to create a badge</h1>
  <% end %>
</div>
