<ul class="badge-list">
  <div class="inner-left">
    <p class="badge-types"><b>Skills & Experience Badges</b></p>
    <!-- Display Green Badges -->
    <% @user.badges.where(green: true, opportunity_id: nil).each do |b| %>
      <%= link_to "/users/#{@user.id}/badges/#{b.id}" do %>
        <div class="badge-green">
          <li class="profile-badges">
            <%= "#{b.name}" %>
          </li></br>
        </div>
      <% end %>
    <% end %>
  </div>
</ul>
