<div class="badge-list" style="margin-top: 20px;">
  <div class="left-side">
    <p class="badge-list-title">Bucket List</p>
    <!-- Display Green Badges -->
    <% @user.badges.where.not(opportunity_id: nil).each do |b| %>
      <%= link_to "/users/#{@user.id}/badges/#{b.id}" do %>
        <div class="badge-green">
          <li class="profile-badges-name">
            <%= "#{b.name}" %>
          </li></br>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="left-side">
    <p class="badge-list-title">Recognition Badges</p>
    <!-- Display Green Badges -->
    <% @user.received_badges.each do |b| %>
      <%= link_to "/users/#{@user.id}/recognitions/#{b.id}" do %>
        <div class="badge-green">
          <li class="profile-badges-name">
            <%= "#{b.name}" %>
          </li></br>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
