

<div class="badge-list">
  <ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><a href="#bucket" data-toggle="pill">Bucket List</a></li>
    <li role="presentation"><a href="#recognition" data-toggle="pill">Recognition Badges</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpane1" class="tab-pane active" id="bucket">
      <!-- Display Green Badges -->
      <% @user.badges.where.not(opportunity_id: nil).each do |b| %>
        <%= link_to "/users/#{@user.id}/badges/#{b.id}" do %>
          <div class="badge-green" style="float: left; margin-left: 5px; margin-right: 5px;">
            <li class="profile-badges-name">
              <%= "#{b.name}" %>
            </li></br>
          </div>
        <% end %>
      <% end %>
    </div>
    <div role="tabpane1" class="tab-pane " id="recognition">
      <!-- Display Green Badges -->
      <% @user.received_badges.each do |b| %>
        <%= link_to "/users/#{@user.id}/recognitions/#{b.id}" do %>
          <div class="badge-green" style="float: left; margin-left: 5px; margin-right: 5px;">
            <li class="profile-badges-name">
              <%= "#{b.name}" %>
            </li></br>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
