<div class="row">
  <h4 class="profile-title">Bucket List</h4>

  <!-- Display Exp/skills Badges -->
  <% @user.badges.where.not(opportunity_id: nil).each do |b| %>
    <%= link_to "/users/#{@user.id}/badges/#{b.id}" do %>
      <div class="badge-green">
        <li class="profile-badges-name">
          <%= "#{b.name}" %>
        </li></br>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <h4 class="profile-title">Recognition</h4>

  <!-- Display Recognition Badges -->
  <% @user.received_badges.each do |b| %>
    <%= link_to "/users/#{@user.id}/recognitions/#{b.id}" do %>
      <div class="badge-green">
        <li class="profile-badges-name">
          <%= "#{b.name}" %>
        </li></br>
      </div>
    <% end %>
  <% end %>
</div>
