<div class="background">

  <h1 class="tracker-title">Ministry of Economic Development & Growth</h1>

<!-- Loop through all users and render name as link to user#show page -->
  <% @users.each do |u| %>
  <div class="tracker-container">
    <div class="tracker-info">
      <%= link_to "#{u.name}", user_url(u), class:"tracker-link" %>
      <li class="tracker-item"><%= "#{u.email}" %></li>
      <li class="tracker-item"><b><%= "#{u.title}" %></b></li>
    </div>
  </div>
  <% end %>

</div>
