<div class="background">

  <h1 class="org-chart-title">Ministry of Economic Development & Growth</h1>

<!-- Loop through all users and render name as link to user#edit page -->
  <% @users.each do |u| %>
  <div class="org-chart">
    <div class="org-box">
      <%= link_to "#{u.name}", user_url(u), class:"org-chart-link" %>
      <li class="org-chart-item"><%= "#{u.email}" %></li>
      <li class="org-chart-item"><b><%= "#{u.title}" %></b></li>
      <li class="org-chart-item"><b><%= "#{u.feedback}" %></b></li>
    </div>
  </div>
  <% end %>

</div>
