<% if current_user %>
  <h1 class="org-title">Interactive Organizational Chart</h1>

  <section class="org-menu-container">
    <div id="level-1" class="level">
      <div class="level-wrap">

        <div id="level-1-list" class="col-1-3 list">
          <ul>

            <li class="element">
              <div class="org-box">
                <div class="org-menu-header">
                  <h4 class="branch">ADM's Office<span class=""></span></h4>

                  <div class="context">
                    <span class=""></span>
                  </div>
                </div>

                <div class="org-details">
                  <p class="boss-name"><%= @users.count %></p>
                </div>

                <a href="/users/admo_org_chart" class="info-btn">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
              </div>
            </li>

            <li class="element">
              <div class="org-box">
                <div class="org-menu-header">
                  <h4 class="branch">Strategic Human Resources<span class=""></span></i></h4>

                  <div class="context">
                    <span class=""></span>
                  </div>
                </div>

                <div class="org-details">
                  <p class="boss-name">Placeholder Name</p>
                </div>

                <a href="/users/hr_org_chart" class="info-btn">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
              </div>
            </li>

            <li class="element">
              <div class="org-box">
                <div class="org-menu-header">
                  <h4 class="branch">Service Management & Facilities<span class=""></span></h4>

                  <div class="context">
                    <span class=""></span>
                  </div>
                </div>

                <div class="org-details">
                  <p class="boss-name">Placeholder Name</p>
                </div>

                <a href="/users/smf_org_chart" class="info-btn">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
              </div>
            </li>

            <li class="element">
              <div class="org-box">
                <div class="org-menu-header">
                  <h4 class="branch">Business Planning and Finance<span class=""></span></h4>

                  <div class="context">
                    <span class=""></span>
                  </div>
                </div>

                <div class="org-details">
                  <p class="boss-name">Placeholder Name</p>
                </div>

                <a href="/users/bpf_org_chart" class="info-btn">
                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </div>
  </section>
<% else %>
  <h1 class="login-message"><%= link_to "LOGIN", :login %> to view Interactive Org Chart</h1>
<% end %>
