<div class="background">
  <% if current_user == @user %>
    <h1 class="profile-title"><%= link_to "Edit Settings", "/users/#{@user.id}/edit" %></h1>

    <%= image_tag @user.avatar.url(:medium), class:"profile-pic" %>

  <% else %>
    <h1 class="profile-title"><%= @user.name %>'s Profile</h1>

    <%= image_tag @user.avatar.url(:medium), class:"profile-pic" %>

  <% end %>
</div>
