<div class="background" style="text-align: center;">
  <h1 class="org-title">Disclaimer</h1>

  <div class="badge-description-wrap">
    <p class="disclaimer-text">
      You must abide by all standard government rules <%= link_to "", "PDF LINK" %>
      for using government computing resources. You are responsible for adhering to
      all existing rules when posting on OPSpedia.
    </p>

    <p class="disclaimer-text"><b>In particular</b>, keep in mind that:</p>

    <ul class="disclaimer-body">
      <li class="disclaimer-text">
        Government-owned collaboration spaces (including this site) constitute
        <b>official interactions and communications</b>, but they do not necessarily represent
        views of the home branch, division or ministry. Remember that the content you create
        here is <b>subject to Freedom of information (FOI)</b> legislation (just like your email)
        and, while it is not public now, may be made so.
      </li>
      <li class="disclaimer-text">
        As a condition of using these government-owned capabilities, you consent to the sharing of
        posting within the same environment. OPSpedia is <b>not for sensitive or condifential
        information</b>. That sort of information should be kept in a secure workspace. However,
        you can link to that information from here, and we encourage you to do so where appropriate.
      </li>
      <li class="disclaimer-text">
        You may not post any material that is obscene, defamatory, profane, threatening, harassing,
        abusive, or hateful to anotehr person, agency, organization, or other entity.
      </li>
      <li class="disclaimer-text">
        Do not post another person's personal information without their specific consent.
      </li>
      <li class="disclaimer-text">
        Site administrators retain the right to delete inappropriate posting and revoke user privileges.
      </li>
      <li class="disclaimer-text">
        OPSpedia promotes a cultural <b>shift away from siloed information</b> and control towards
        <b>horizontal openness</b> in the OPS.
      </li>

      <h1 class="org-title">Ethical Obligations of Participation</h1>

      <li class="disclaimer-text">Be bold</li>
      <li class="disclaimer-text">Be truthful</li>
      <li class="disclaimer-text">Do what is right</li>
      <li class="disclaimer-text">Do what is best for the OPS</li>
      <li class="disclaimer-text">Write with accuracy, correcting mistakes when appropriate</li>
      <li class="disclaimer-text">Strive for high quality with every post</li>
      <li class="disclaimer-text">When there is disagreement, disagree respectfully</li>
      <li class="disclaimer-text">Link and cite online references</li>
    </ul>
  </div>
</div>
