<div class="background">
  <%= image_tag("homepage-bg.jpeg", class:"background-image")%>

  <div class="home-right">
    <div class="container">
      <h1 class="home-title">Welcome!</h1>

      <h2 class="form-title">Career Advancement App</h2>

      <% if current_user %>
        <p class="form-title"> Use the links in the top right to navigate through content</p>
      <% else %>
        <h3 class="form-title"><%= link_to 'LOGIN', :login, class:'home-link' %></h3>

        <!-- <h4 style="text-align: center;">or</h4>

        <h3 class="form-title"><%= link_to 'SIGN UP', '/users/new', class:'home-link' %></h3> -->
      <% end %>
    </div>
  </div>
</div>
