<div class="background">
  <div class="container" style="background-color: #bdbdbd;">
    <h1 class="home-title">Welcome!</h1>

    <h2 class="form-title">Employee Engagement Application</h2>

    <% if !current_user %>
      <h3 class="form-title"><%= link_to 'LOGIN', :login, class:'home-link' %></h3>

      <!-- <h4 style="text-align: center;">or</h4>

      <h3 class="form-title"><%= link_to 'SIGN UP', '/users/new', class:'home-link' %></h3> -->
    </div>
    <% end %>
  </div>
</div>
