<div class="background">
  <div class="container">
    <h1 class="home-title">Welcome!</h1>

    <h2 class="form-title">Employee Engagement Application</h2>

    <% if !current_user %>
      <h3 class="form-title"><%= link_to 'LOGIN', :login, class:'home-link' %></h3>

      <!-- <h4 style="text-align: center;">or</h4>

      <h3 class="form-title"><%= link_to 'SIGN UP', '/users/new', class:'home-link' %></h3> -->
    </div>

    <% else %>
      <h2 class="form-title"><b>COMING SOON...</b></h2>

      <h3 class="form-title">Opportunities</h3>

      <h3 class="form-title">Feedback</h3>

      <h3 class="form-title">Networking Events</h3>
    <% end %>
  </div>
</div>
