<div class="intro-container">

  <h1 style="text-align: center;">Thank you!</h1></br>

  <div class="intro-text-box">
    <p>
      We appreciate your interest in the employee engagement software prototype.
      We are currently developing a tool that aims to nurture a more connected and inclusive workplace culture.
      The tool will do this by creating a recognition platform, fostering learning opportunities,
      highlighting internal development initiatives and communicating networking events.
      As this is implemented we hope to reach out to you for some feedback to ensure we deliver a meaningful useful product.
   </p>

   <p><b>Thanks again for signing up. We hope to be able to deliver the prototype shortly.</b></p>
  </div>
  
</div>
