<h1 class="form-title" style="padding-top: 3%;">Edit Opportunity</h1>

<div style="text-align: center;">
  <%= link_to "BACK TO OPPORTUNITIES", "/users/opps", class:"submit-blue", style:"width: 260px; margin-bottom: 0;"%>
</div>

<%= render 'opportunities-form' %>
