<h1 class="form-title" style="padding-top: 3%;">Edit Opportunity</h1>

<div style="text-align: center;">
  <%= link_to "/users/opps", class:"cancel-center-link" do %>
    <div class="submit-blue" style="margin-bottom: 0;">BACK TO OPPORTUNITIES</div>
  <% end %>
</div>

<%= render 'opportunities-form' %>
