<%= render 'opportunities-sidebar' %>

<div class="three-quarters" style="margin-top: 10px; text-align: center;">
  <h1 class="form-title">Edit Opportunity</h1>

  <%= render 'opportunities-form' %>
</div>
