//Colours
$dark-grey: #424242;
$grey: rgb(102,102,102);
$medium-grey: #bebebe;
$light-grey: #999;
$bright-dark-blue: #0000CD;
$dark-turquoise: #337ab7;
$white: #ffffff;
$white-smoke: #f5f5f5;
$dark-red: #CC0000;
$red: #e53935;
$bright-green: #4AFE49;
$dark-green: #1b5e20;
$green: #2e7d32;
$mid-light-green: #71BF70;
$light-green: #96FE95;
$orange: #ff9800;
$dark-orange: #e65100;
$purple: #ab47bc;
$dark-purple: #4a148c;

//CSD
$teal: #B4E0EB;
$blue: #2096A5;
$dark-blue: #0A3444;
$darker-blue: #061d26;
