//Colours
$dark-blue: #2081A1;
$dark-yellow: #FFC33C;
$grey: rgb(102,102,102);
$medium-grey: #BFBFC7;
$light-grey: #bdbdbd;
$bright-dark-blue: #0000CD;
$dark-turquoise: #0385AA;
$turquoise: #00C8F8; //So far only for /pages/intro
$white: #ffffff;
$white-smoke: #f5f5f5;
$red: #D42246; //Unused but brand colour
$error-text: #CC0000;
$green: #90D150; //" "
$purple: #4B0082;
$pink: #FF69B4;

//Opportunities Carousel
$duration: 450ms;
$tileWidth: 320px;
$tileHeight: ($tileWidth / (16/9));
$iconSize: 50px;
$growFactor: 1.5; // 1.5 times the original size

$moveLeft: -($tileWidth * ($growFactor - 1) / 2);
$moveRight: $tileWidth * ($growFactor - 1);
