@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "users";
@import "badges";
@import "org_charts";
@import "opportunities";
@import "signups";
@import "pulse_surveys";

.banner-image {
  width: 100%;
  height: 150px;
}

a:hover {
  text-decoration: none;
}

.home-right {
  float: right;
  width: 55%;
}

.login-wrap {
  width: 90%;
  margin: auto;
  margin-top: 60px;
}

.background-image {
  -webkit-filter: grayscale(80%);
  -webkit-filter: brightness(80%);
  // -webkit-filter: hue-rotate(260deg);
  z-index: -1;
	height: 800px;
	width: 45%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  border: 0;
}

//Navbar
.navbar {
  background-color: $dark-blue;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
  font-weight: bold;
  font-size: 16px;
  color: $white-smoke;
  text-align: center;
}

.navbar-default .navbar-nav > li > a:hover {
  color: $blue;
}

.active-nav a {
  color: $blue !important;
}

.search-button {
  background-color: $dark-blue;
  border: none;
  span {
    color: $white-smoke;
    font-size: 24px;
    vertical-align: middle;
    margin-bottom: 5px;
  }
}

.search-button:hover {
  span {
    color: $blue;
  }
}

.btn-default {
  color: $white-smoke;
  background-color: $dark-turquoise;
  border: 0;
}

.btn-default:hover {
  color: $white-smoke;
  background-color: $bright-dark-blue;
  border: 0;
}

.footer {
  background-color: $teal;
  height: 40px;
  line-height: 40px;
}

.quarter {
  float: left;
  width: 25%;
  background-color: $blue;
  height: 800px;
}

.quarter a {
  color: $white-smoke;
  font-weight: bold;
}

.quarter a:hover {
  color: $dark-blue;
}

.three-quarters {
  float: right;
  width: 72.5%;
  margin-left: 2.5%;
}

.csd-logo {
  width: 100%;
}

.feed-title {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 10px;
}

.feed-list {
  text-align: left;
  list-style: none;
  margin-left: 30px;
  margin-right: 10px;
  padding-left: 0;
}

.feed-item {
  font-size: 16px;
  margin-top: 30px;
}

.paragraph {
  margin-right: 10px;
}

.submit-blue,
.delete,
.submit-green,
.submit-grey {
  color: white;
  border: none;
  display: block;
  margin: 35px auto;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

.submit-blue {
  background-color: $dark-turquoise;
}

.delete {
  background-color: $red;
}

.submit-green {
  background-color: $dark-blue;
}


.submit-grey {
  background-color: $grey;
}

.submit-green:hover {
  background-color: $darker-blue;
  color: white;
  text-decoration: none;
}

.submit-blue:hover {
  background-color: $bright-dark-blue;
  text-decoration: none;
  color: white;
}

.submit-grey:hover {
  background-color: $dark-grey;
  text-decoration: none;
}

.delete:hover {
  background-color: $dark-red;
  text-decoration: none;
  color: white;
}

.left-title {
  text-align: left;
}

//Form Field Errors
.error-header {
  padding-top: 15px;
  text-align: center;
}

.error-msg {
  color: $red;
  font-size: 16px;
  text-align: center;
  list-style: none;
}

.error-list {
  margin-bottom: 0;
}

.home-link {
  color: $grey;
  font-weight: bold;
}

//Multiple pages
.login-message {
  text-align: center;
  padding-top: 320px;
  padding-bottom: 300px;
  margin-top: 0;
}

.login-message a {
  color: $bright-dark-blue;
}

.alert {
  text-align: center;
  font-size: 16px;
  // background-color: $medium-grey;
  margin: auto;
  height: 100px;
  padding-top: 45px;
  padding-bottom: 60px;
  color: $bright-dark-blue;
}

.disclaimer-text {
  margin-top: 15px;
  font-size: 18px;
}

.disclaimer-body {
  margin-top: 15px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .form-control {
    width: 250px !important;
  }

  .navbar-default .navbar-nav > li {
    padding-right: 20px;
    padding-left: 20px;
  }

  .divider {
    margin-top: 0;
    border-right: 2px solid $white-smoke;
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 32px;
  }
}

@media screen and (max-width: 900px) {
  .home-right {
    float: none;
    width: 100%;
    margin: auto;
  }

  .background-image {
  	height: 418px;
  	width: 100%;
  }
}
