@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "users";
@import "badges";
@import "org_charts";
@import "opportunities";
@import "practice";

.background {
  height: 1000px;
  width: 100%;
}

.container {
  width: 600px;
  margin-bottom: 50px;
  border-radius: 25px;
  padding-bottom: 3px;
  background-position: center;
  margin-top: 12.5%;
}

//Navbar
.navbar {
  background-color: $grey;
  margin-bottom: 0;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  font-weight: bold;
  color: $white-smoke;
}

.btn-default {
  color: $white-smoke;
  background-color: $dark-blue;
  border: 0;
}

.btn-default:hover {
  color: $grey;
  background-color: $medium-grey;
  border: 0;
}

.delete {
  color: white;
  background-color: $error-text;
  border: none;
  display: block;
  margin: 35px auto;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.submit {
  color: white;
  background-color: $dark-blue;
  border: none;
  display: block;
  margin: 35px auto;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.submit:hover,
.delete:hover {
  background-color: $light-grey;
}

//Form Field Errors
.error-header {
  padding-top: 15px;
  text-align: center;
}

.error-msg {
  text-align: center;
  list-style: none;
}

.error-list {
  margin-bottom: 0;
}

.home-link {
  color: $grey;
  font-weight: bold;
}

//Intro View
.intro-container {
  height: 800px;
  margin: 0;
}

.intro-title {
  background-color: $turquoise;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 35px;
  text-align: center;
  width: 100%;
  height: 20%;
}

.intro-text-box {
  background-color: $dark-blue;
  width: 100%;
  text-align: justify;
  padding-top: 70px;
  padding-left: 10%;
  padding-right: 10%;
  height: 50%;
}

.intro-footer {
  background-color: $grey;
  text-align: center;
  width: 100%;
  height: 30%;
  padding-top: 60px;
}

//Multiple pages
.login-message {
  text-align: center;
  padding-top: 320px;
  padding-bottom: 300px;
  margin-top: 0;
}

.login-message a {
  color: $error-text;
}

.alert {
  text-align: center;
  font-size: 32px;
  // background-color: $medium-grey;
  margin: auto;
  height: 100px;
  padding-top: 45px;
  padding-bottom: 100px;
  color: $bright-dark-blue;
}

//User#index
.tracker-title {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 40px;
  margin-top: 0;
}

.tracker-container {
  text-align: center;
}

.tracker-info {
  background-color: #FFC33C; //yellow
  margin: auto;
  margin-bottom: 10px;
  width: 230px;
  height: 135px;
}

.tracker-link {
  text-decoration: none;
  color: $grey;
  font-weight: bold;
}

.tracker-item {
  list-style: none;
}
