@import "bootstrap";

.background {
  background-color: #2081A1;
  height: 100%;
}

.container {
  background-color: #FFC33C;
  width: 600px;
  margin-bottom: 50px;
  border-radius: 25px;
  padding-bottom: 3px;
  background-position: center;
}

.form-title {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 5%;
}

.form-instructions {
  text-align: center;
  color: rgb(102,102,102);
  padding-top: 20px;
  margin-bottom: 0;
}

.field {
  padding: 30px 0 0 0;
  position: relative;
}

.field-label {
  display: block;
  font-size: 16px;
  transform: translateY(25px);
  color: rgb(102,102,102);
  transition: all 0.5s;
  padding-bottom: 5px;
}

.field-input {
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 16px;
}

.field:after, .field:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(102,102,102);
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.field::after {
  background-color: #0000CD;
  transform: scaleX(0);
}

.active::after {
  transform: scaleX(1);
}

.active .field-label {
  color: #0000CD;
}

.complete .field-label {
  font-size: 12px;
  transform: translateY(0);
}

.submit {
  background-color: #2081A1;
  border: none;
  display: block;
  margin: 35px auto;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.error-header {
  padding-top: 15px;
  text-align: center;
}

.error-msg {
  text-align: center;
  list-style: none;
}

.error-list {
  margin-bottom: 0;
}

.intro-container {
  height: 800px;
  margin: 0;
}

.intro-title {
  background-color: #00C8F8;
  margin-bottom: 0;
  padding-top: 35px;
  text-align: center;
  width: 100%;
  height: 20%;
}

.intro-text-box {
  background-color: #2081A1;
  width: 100%;
  text-align: justify;
  padding-top: 70px;
  padding-left: 10%;
  padding-right: 10%;
  height: 50%;
}

.intro-footer {
  background-color: rgb(102,102,102);
  text-align: center;
  width: 100%;
  height: 30%;
  padding-top: 60px;
}

.profile-title {
  text-align: center;
  padding-top: 10px;
}

.org-chart-title {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 80px;
}

.org-chart {
  text-align: center;
}

// .org-box {
//   background-color: #FFC33C;
//   margin: auto;
//   width: 230px;
//   height: 135px;
// }

.org-chart-link {
  text-decoration: none;
  color: rgb(102,102,102);
  font-weight: bold;
}

.org-chart-item {
  list-style: none;
}

.org-container {
  margin: 2rem auto;
  max-width: 1088px;
}
@media screen and (max-width: 1121px) {
  .org-container {
  max-width: 878px;
  }
}
@media screen and (max-width: 911px) {
  .org-container {
  max-width: 668px;
  }
}

//Padding & border included in total width & height
.org-container * {
  box-sizing: border-box;
}

.level {
  display: block;
}

.level-wrap {
  padding: 8px;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}

.level:nth-child(n+2) .level-wrap:before {
  content: " ";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 10px;
  border: 2px solid #2081A1;
  border-bottom: none;
  background: white;
}

.level .col-1-3 {
  margin-left: 220px;
  border-left: 2px dashed #efefef; //check if showing
  padding-left: 10px;
  height:100%;
}

//Center this later
.level .col-1-3:first-of-type {
  float: left;
  border: none;
  margin: 0;
  padding: 0;
}

.level ul {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  align-items: stretch;
}

.element {
  position: relative;
  display: inline-block;
  width: 200px;
  margin: 5px;
  background: #ffffff;
  border: 2px solid #BFBFC7;
  color: black;
}

.org-box {
  position: relative;
  display: block;
  height: 100%;
}

.org-header {
  display: block;
  background: #BFBFC7;
  padding: 5px 35px 5px 10px;
  color: black;
  position: relative;
}

.org-box h4 {
  margin: 0 0 2px;
  font-size: 16px;
}

.org-box p {
  margin: 10px 0;
  font-size: 15px;
}

.org-box p:last-child {
  margin: 10px 0 0 0;
}

.org-details {
  padding: 0 10px;
  margin-bottom: 40px;
}

.info-btn {
  position: absolute;
  bottom: 0;
  left: 10px;
  background: #2081A1;
  color: white;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 20px;
  height: 20px;
  font-size: 14px;
  margin: -2px 0 10px -2px;
}

//Image container
.element .context {
  position: absolute;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  background: #BFBFC7;
  text-align: center;
  width: 26px;
  height: 100%;
  padding: 4px 2px 4px 4px;
  right: 0;
  top: 0;
}

//Might not need
.element .context:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  border-top: 0px solid transparent;
  border-right: 26px solid #BFBFC7;
  right: 0px;
  bottom: -15px;
}

//Active Class
.active .element,
.list .selection {
  border: 2px solid #0385AA;
  background: #f5f5f5;
}

.active .org-header,
.active .context,
.list .selection .org-header,
.list .selection .context {
  background: #0385AA;
  color: white;
}

.active .context:after,
.list .selection .context:after{
  border-right-color: #0385AA;
}

.list .selection {
  opacity: 0.5;
  background: white;
  pointer-events: none;
}

.active .element:empty{
  border-color: #E5E5E5;
  min-height: 122px;
  background: repeating-linear-gradient(
    45deg,
    #F2F2F2,
    #F2F2F2 10px,
    #E5E5E5 10px,
    #E5E5E5 20px
  );
}

.active .element:empty:before {
  content: "Select an Org Unit";
  color: grey;
  text-align: center;
  display: block;
  position: absolute;
  font-size: 12px;
  width: 100%;
  top: calc(50% - 14px);
  background: #e5e5e5;
  padding: 5px 0;
}

.active .element {
  opacity: 1;
}

.expanded .active:after {
  content: " ";
  position: absolute;
  height: 100%;
  left: 110px;
  bottom: -35px;
  border-left: 2px solid #0385AA;
  z-index: -1;
}

.expanded:last-of-type .active:after {
  display: none;
}

.list .selection:after {
  content: " ";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top:6px solid transparent;
  border-bottom:0px solid transparent;
  border-left:14px solid #0385AA;
  left: -12px;
  bottom: 2px;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

/* ---- hover ---- */

.info-header:hover,
.info-header:hover .context,
.info-btn:hover {
  cursor: pointer;
  background: #444444;
  color: white;
}

.element-item.hover .context:after {
  border-right-color: #444444;
}

.element-item.hover {
  border-color: #444444;
}

.item-list .element-item .info-header:hover,
.item-list .element-item .info-header:hover .context,
.item-list .element-item .info-header:hover h4 {
  cursor: pointer;
  background: #444444;
  color: white;
}

.item-list .element-item:hover .info-header:hover + .context:after{
  border-right-color: #444444;
}

.item-list .element-item:hover {
  background: #fdfdfd;
}

.hover-expanded .item-active:after,
.hover-children .level-wrap:before {
  border-color: #444444 !important;
}

/* ---- misc ---- */

.hidden {
  display: none;
}

.org-name {
  color: #0385AA;
}

.selection .org-name, .item-active .org-name{
  color: #ffffff;
}

/* Disable arrow */
.element-item .context:after {
  display: none;
}

.org-box {
  height: 200px;
  width: 100px;
}
