//Badges
.left-side {
  float: left;
  width: 50%;
}

.right-side {
  float: right;
  width: 50%;
  border-left: dotted;
  border-left-color: $dark-turquoise;
  height: 100%;
  padding-right: 3%;
}

.badge-details {
  margin-top: 0;
}

.form-option {
  text-align: center;
  margin-bottom: 0;
  padding-top: 15px;
  clear: both;
}

.cancel-link,
.cancel-center-link {
  color: white;
}

.cancel-link:hover,
.cancel-center-link:hover {
  text-decoration: none;
}

.float {
  float: left;
}

#badge-button {
  margin-top: 0;
  width: 50%;
}

.center-float-wrap {
  display: inline-block;
}

.badge-title {
  text-align: center;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.badge-types {
  text-align: center;
}

.badge-detail-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 2%;
}

.profile-badges,
.badge-show-title,
.profile-badges-name {
  margin: auto;
  width: 80%;
  font-style: italic;
  color: black;
  list-style: none;
  min-width: 30px;
}

.profile-badges-name {
  color: white;
  font-size: 12px;
}

.badge-show-title {
  color: white;
  margin-top: 80px;
  font-size: 26px;
}

.badge-description-wrap {
  width: 75%;
  margin: auto;
}

.badge-description {
  padding-top: 2%;
  font-size: 20px;
}

.badge-green {
  margin: 7px 10px;
  background: radial-gradient( 5px -9px, circle, white 8%, red 26px );
  border: 3px solid $grey;
  border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
  box-shadow: 1px 1px 1px black;
  text-align: center;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  overflow: hidden;
  float: left;
}

.badge-green,
.badge-show-green {
  color: white;
  background-color: $green;
}

.badge-green li {
  margin-top: 15px;
}

.badge-show-green {
  margin: 5px auto;
  background: radial-gradient( 5px -9px, circle, white 8%, red 26px );
  border: 3px solid $grey;
  border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
  box-shadow: 1px 1px 1px black;
  text-align: center;
  height: 300px;
  width: 300px;
  border-radius: 150px;
}

.badge-green:hover {
  background-color: $dark-green;
  li {
    color: $medium-grey;
  }
}

.thumbs-up,
.thumbs-empty, {
  width: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.thumbs-up:hover,
.thumbs-empty:hover {
  width: 48px;
}

.likes a {
  font-weight: bold;
  color: $bright-dark-blue;
}

.likes a:hover {
  font-weight: bold;
  color: $dark-grey;
  text-decoration: none;
}

@media screen and (max-width: 939px) {
  .badge-title {
    padding-left: 0;
  }
}
