//Badges
.left-side {
  float: left;
  width: 50%;
}

.right-side {
  float: right;
  width: 50%;
  border-left: dotted;
  border-left-color: $dark-turquoise;
  height: 100%;
  padding-right: 3%;
}

.inner-left {
  float: left;
  width: 30%;
  margin: 5px;
}

.inner-middle {
  float: left;
  width: 30%;
  margin: 5px;
  margin-left: 5%;
}

.inner-right {
  float: right;
  width: 30%;
  margin: 5px;
}

.badge-details {
  margin-top: 0;
}

.form-option {
  text-align: center;
  margin-bottom: 0;
  padding-top: 15px;
  clear: both;
}

.cancel-link {
  color: white;
  display: inline-block;
  margin-left: 30%;
}

.float {
  float: left;
}

.center-float-wrap {
  display: inline-block;
}

.badge-title {
  text-align: center;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.badge-types {
  text-align: center;
}

.badge-detail-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 2%;
}

.profile-badges,
.badge-show-title,
.profile-badges-name {
  margin: auto;
  width: 80%;
  font-style: italic;
  color: black;
  list-style: none;
  min-width: 30px;
}

.profile-badges-name {
  color: white;
  margin-top: 40%;
  font-size: 12px;
}

.badge-show-title {
  color: white;
  margin-top: 40%;
  font-size: 26px;
}

.badge-description-wrap {
  width: 75%;
  margin: auto;
}

.badge-description {
  padding-top: 2%;
  font-size: 20px;
}

.badge-green {
  margin: 5px auto;
  // position: relative;
  background: radial-gradient( 5px -9px, circle, white 8%, red 26px );
  border: 3px solid $grey;
  border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
  box-shadow: 1px 1px 1px black;
  // font: bold 15px/13px;
  // padding: 4px 3px 0 3px;
  text-align: center;
  height: 120px;
  width: 120px;
  border-radius: 60px;
}

.badge-green,
.badge-show-green {
  background-color: $green;
}

.badge-green li {
  margin-top: 15px;
}

.badge-show-green {
  margin: 5px auto;
  background: radial-gradient( 5px -9px, circle, white 8%, red 26px );
  border: 3px solid $grey;
  border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
  box-shadow: 1px 1px 1px black;
  text-align: center;
  height: 300px;
  width: 300px;
  border-radius: 150px;
}

.badge-green:hover {
  li {
    color: $medium-grey;
  }
}

.glyphicon.glyphicon-heart,
.glyphicon.glyphicon-heart-empty, {
  font-size: 32px;
  color: $grey;
  padding-top: 10px;
}

.glyphicon.glyphicon-heart:hover,
.glyphicon.glyphicon-heart-empty:hover, {
  color: $dark-grey;
  text-decoration: none;
}

.likes {
  color: black;
}

.likes a {
  font-weight: bold;
  color: $grey;
}

.likes a:hover {
  font-weight: bold;
  color: $dark-grey;
}
