//Badges
.inner-left {
  float: left;
  width: 50%;
}

.inner-right {
  float: right;
  width: 50%;
}

.form-option {
  text-align: center;
  margin-bottom: 0;
  padding-top: 15px;
  clear: both;
}

.cancel-link {
  color: white;
  display: inline-block;
  margin-left: 30%;
}

.badge-title {
  text-align: center;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.badge-types {
  text-align: center;
}

.badge-detail-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 2%;
}

.profile-badges {
  margin: auto;
  width: 70%;
  font-style: italic;
  color: black;
  list-style: none;
  font-size: 18px;
  min-width: 30px;
}

.badge-description {
  padding-top: 25%;
  font-size: 20px;
}

.badge-details {
  margin-left: 25%;
}

.badge-red,
.badge-blue,
.badge-yellow,
.badge-green,
.badge-purple,
.badge-pink,
.badge-grey, {
  margin: 5px;
  position: relative;
  // float: left;
  background: radial-gradient( 5px -9px, circle, white 8%, red 26px );
  border: 3px solid $grey;
  border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
  box-shadow: 1px 1px 1px black;
  // font: bold 15px/13px;
  padding: 4px 3px 0 3px;
  text-align: center;
}

.badge-red {
  background-color: $error-text;
}

.badge-blue {
  background-color: $bright-dark-blue;
}

.badge-yellow {
  background-color: $dark-yellow;
}

.badge-green {
  background-color: $green;
}

.badge-purple {
  background-color: $purple;
}

.badge-pink {
  background-color: $pink;
}

.badge-grey {
  background-color: $light-grey;
}

.badge-red:hover,
.badge-blue:hover,
.badge-yellow:hover,
.badge-green:hover,
.badge-purple:hover,
.badge-pink:hover,
.badge-grey:hover {
  li {
    color: $grey;
  }
}

.glyphicon.glyphicon-heart,
.glyphicon.glyphicon-heart-empty, {
  font-size: 32px;
  color: white;
  padding-top: 10px;
}

.likes {
  color: black;
}

.likes a {
  font-weight: bold;
  color: $grey;
}
