//Carousel
* {
  box-sizing: border-box
}

.opportunity-info {
  width: 100%;
  margin: auto;
  padding-top: 2.5%;
  text-align: center;
  font-size: 18px;
}

a:link
a:hover
a:active
a:visited {
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}

a:hover {
  color: #7f8c8d
  text-decoration underline;
}

.carousel-container {
  margin: 2rem auto;
  max-width: 1088px;
}

.row {
  overflow-x: scroll;
  width: 100%;
}

.row__inner {
  transition: $duration transform;
  font-size: 0;
  white-space: nowrap;
  margin: 60px 0;
  padding-bottom: 10px; // Account for OS X scroll bar
}

.tile {
  position: relative;
  display: inline-block;
  width: $tileWidth;
  height: $tileHeight;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: $duration all;
  transform-origin: center left;
}

.tile-header {
  color: white;
  background-color: black;
  margin-top: -2.5%;
  margin-left: 5%;
  margin-bottom: 0;
  font-size: 12px;
}

.tile__img {
  width: $tileWidth;
  height: 200px;
  object-fit: cover;
}

.tile__details {
  overflow: hidden;
  color: $grey;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 8px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: $duration opacity;

  &:after
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: black
  }

  &:after {
    margin-top: (-($iconSize / 2));
    margin-left: (-($iconSize / 2));
    width: $iconSize;
    height: $iconSize;
    border: 3px solid #ecf0f1;
    line-height: $iconSize;
    text-align: center;
    border-radius: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
  }

  &:before {
    // content: '▶';
    content: '';
    left: 0;
    width: 100%;
    font-size: 30px;
    margin-left: 7px;
    margin-top: -18px;
    text-align: center;
    z-index: 2;
  }

  .tile:hover & {
    opacity: 1;
  }
}

.tile__title {
  // position: absolute;
  padding: 15px;
  color: white;
  max-width: 200px;
}

// * Hover effects
// We assume when you hover .row, you're also hovering a .tile
// First, move the whole row towards the left
.row__inner:hover {
  transform: translate3d($moveLeft, 0, 0);
}

.row__inner:hover .tile {
  // Fade out every tile
  opacity: .3;
  // And then grow the current tile and make it opaque again
  &:hover {
    transform: scale($growFactor);
    opacity: 1;
  }
}

// And finally move all tiles right of the current tile to the right,
// so its flush against the hovered tile
.tile:hover ~ .tile {
  transform: translate3d($moveRight, 0, 0);
}

.opp-photo-frame {
  margin-top: 5%;
  margin-bottom: 5%;
}

.opp-details {
  font-size: 16px;
}

//Image gallery
.bucket-gallery {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.co-opp-name {
  width: 100%;
  display: inline-block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

#fifth {
  float: left;
  width: 20%;
  margin: auto;
}

.co-opp-name:hover {
  text-decoration: none;
}

#blue {
  color: $dark-turquoise;
}

#blue:hover {
  color: $bright-dark-blue;
}

#green {
  color: $green;
}

#green:hover {
  color: $bright-green;
}

#red {
  color: $red;
}

#red:hover {
  color: $dark-red;
}

#orange {
  color: $orange;
}

#orange:hover {
  color: $dark-orange;
}

#purple {
  color: $purple;
}

#purple:hover {
  color: $dark-purple;
}

//3d Carousel
.containery {
	margin: 4% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}

#carouselz {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}

#carouselz:hover {
	animation-play-state: paused;
}

#carouselz figure {
	display: block;
	position: absolute;
	width: 200px;
	height: 116px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 5px black;
}

#carouselz figure:nth-child(1) { transform: rotateY(0deg) translateZ(288px);}
#carouselz figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carouselz figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carouselz figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carouselz figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carouselz figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carouselz figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carouselz figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carouselz figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}
#carouselz figure:nth-child(10) { transform: rotateY(360deg) translateZ(288px);}

.threed-image img {
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
}

.threed-image img:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}
