.container {
	width: 90%;
}

//Carousel
* {
  box-sizing: border-box
}

.opportunity-info {
  width: 100%;
  margin: auto;
  padding-top: 2.5%;
  text-align: center;
  font-size: 18px;
}

a:link
a:hover
a:active
a:visited {
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}

a:hover {
  color: #7f8c8d
  text-decoration underline;
}

.carousel-container {
  margin: 2rem auto;
  max-width: 1088px;
}

.nav-pills > li {
  font-size: 16px;
}

.tile {
  position: relative;
  display: inline-block;
  width: $tileWidth;
  height: $tileHeight;
  margin: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: $duration all;
  transform-origin: center left;
}

.tile-header {
  color: white;
  background-color: black;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  text-align: center;
}

.tile__img {
  width: 480px;
  height: 220px;
}

.opp-photo-frame {
  margin-top: 30px;
  margin-bottom: 30px;
}

.opp-headers {
  width: 80%;
  margin: auto;
  line-height: 1.5;
}

.opp-details {
  font-size: 16px;
  margin: auto;
  width: 60%;
}

.opp-info {
  text-align: left;
  width: 100%;
}

//Image gallery
.bucket-gallery {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.third {
  float: left;
  width: 33.3%;
  margin: auto;
}

.co-opp-name,
.csd-opp-name {
  width: 100%;
  display: inline-block;
  margin-top: 30px;
  text-align: left;
  font-weight: bold;
}

.co-opp-name {
  font-size: 16px;
}

.csd-opp-name {
  font-size: 24px;
  overflow: hidden;
}

#fifth {
  float: left;
  width: 20%;
  margin: auto;
}

#blue {
  color: $dark-turquoise;
}

#blue:hover {
  color: $bright-dark-blue;
}

#green {
  color: $green;
}

#green:hover {
  color: $bright-green;
}

#red {
  color: $red;
}

#red:hover {
  color: $dark-red;
}

#orange {
  color: $orange;
}

#orange:hover {
  color: $dark-orange;
}

#purple {
  color: $purple;
}

#purple:hover {
  color: $dark-purple;
}
