//Org Charts
.org-title,
.left-title {
  position: relative;
  padding-top: 10px;
  padding-bottom: 5px;
}

.org-title,
.legend {
  text-align: left;
}

.org-title,
.legend-title {
  margin-left: 50px;
}

.org-container {
  margin: 2rem auto;
  width: 75%;
  float: right;
}

.org-container * {
  box-sizing: border-box; //Padding & border included in total width & height
}

.legend-title {
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.legend {
  list-style: none;
  margin-bottom: 70px;
}

.legend span {
  border: 1px solid #ccc;
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.legend-item {
  font-size: 12px;
  float: left;
  margin-left: 14px;
}

#team-one {
  border-color: $dark-turquoise;
}

#team-two {
  border-color: $red;
}

#team-three {
  border-color: $green;
}

#team-four {
  border-color: $dark-purple;
}

#team-five {
  border-color: $orange;
}

.team-1 {
  background: $dark-turquoise;
}

.team-2 {
  background: $red;
}

.team-3 {
  background: $green;
}

.team-4 {
  background: $dark-purple;
}

.team-5 {
  background: $orange;
}

.level {
  display: block;
  margin: auto;
  width: 90%;
}

.level-wrap {
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}

.level:nth-child(n+2) .level-wrap:before {
  content: " ";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 10px;
  border: 2px solid $light-grey;
  border-bottom: none;
  background: white;
}

#level,
.level ul {
  padding-left: 0;
}

.level .col-1-3 {
  margin: auto;
  padding-left: 0;
}

.level .col-1-3:first-of-type {
  float: left;
  border: none;
}

.level ul {
  flex-wrap: wrap;
  display: flex;
  align-items: stretch;
}

.org-container a {
  margin-bottom: 5px;
}

.element {
  position: relative;
  display: inline-block;
  width: 260px;
  margin: 10px;
  background: #ffffff;
  color: black;
}

.org-box {
  position: relative;
  display: block;
  height: 100%;
}

.org-box p {
  font-size: 15px;
  margin-left: 35%;
}

.org-details {
  margin-bottom: 5px;
}

.glyphicon.glyphicon-user {
  font-size: 36px;
}

.org-profile-pic {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  border-radius: 180px;
  border-style: solid;
  border-width: 3px;
}

.info-btn,
.info-coop-btn {
  position: absolute;
  left: 0;
  top: 0;
  background: $white;
  border-style: solid;
  color: $light-grey;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 70px;
  height: 70px;
}

.info-coop-btn {
  bottom: 20px;
}

//Image container
.expanded .active:after {
  content: " ";
  position: absolute;
  height: 100%;
  left: 150px;
  bottom: -35px;
  border-left: 2px solid $light-grey;
  z-index: -1;
}

//Hover
.element:hover {
  text-decoration: none;
  p {
    color: $grey;
  }
  .info-btn,
  .org-profile-pic,
  .info-coop-btn {
    border-color: $grey !important;
  }
}

// Extra swag
.hidden {
  display: none;
}

.boss-name {
  color: $dark-turquoise;
  text-align: left;
}

.boss-name  {
  font-weight: bold;
}

.badge-count {
  text-align: left;
}

@media screen and (max-width: 911px) {
  .org-container {
    max-width: 668px;
  }
}

@media screen and (max-width: 1121px) {
  .org-container {
    max-width: 878px;
  }
}
