//Temporary / Unused
.carousel {
  height: 400px;
  margin: 40px;
}

.carousel-caption {
  color: black;
  position: static;
}

.carousel-inner {
  height: 100%;
  background: $light-grey;
}

.carousel-text {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 60px;
}
