//User form fields
.form-title,
.home-title {
  text-align: center;
  padding-top: 15px;
}

.form-title {
  margin-top: 0;
}

.home-title {
  margin-top: 2%;
}

.form-instructions {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: $grey;
  padding-top: 20px;
  margin-bottom: 0;
}

.avatar_container {
  margin-top: 40px;
  border-bottom: 1px;
}

.divider {
  margin-top: 20px;
  border-bottom: 3px solid $grey;
}

.field {
  padding: 30px 0 0 0;
  position: relative;
}

.field-label {
  display: block;
  text-align: left;
  font-size: 16px;
  transform: translateY(25px);
  color: $grey;
  transition: all 0.5s;
  padding-bottom: 5px;
}

.field-input {
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  font-size: 16px;
}

.field:after,
.field:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: $grey;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.field::after {
  background-color: $bright-dark-blue;
  transform: scaleX(0);
}

.active::after {
  transform: scaleX(1);
}

.active .field-label {
  color: $bright-dark-blue;
}

.complete .field-label {
  font-size: 12px;
  transform: translateY(0);
}

.check-box {
  text-align: left;
  margin-top: 15px;
}

//User hom, show & edit
.home-image {
  width: 100%;
}

.half {
  float: left;
  width: 50%;
}

.fifth {
  float: left;
  width: 20%;
}

.feed-title {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.feed-list {
  text-align: center;
  list-style: none;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 0;
}

.feed-item {
  font-size: 14px;
  font-weight: bold;
}

.nav-pills > li {
  background-color: $medium-grey;
}

.nav-pills > li > a {
  color: $bright-dark-blue;
}

.nav-pills > li > a:hover {
  background-color: $medium-grey;
}

.nav-pills > li.active,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  border-radius: 0;
  background-color: $light-grey;
  color: black;
}

.tab-content {
  position: relative;
  height: 600px;
  margin-left: 30px;
  margin-right: 30px;
}

.dropdown-menu {
  text-align: center;
}

.tab-title {
  font-weight: bold;
}

.badge-list-title {
  position: absolute;
  padding-top: 5px;
}

#bucket-link {
  left: 15%;
}

#recognition-link {
  right: 15%;
}

#edu-link {
  left: 10px;
}

#skillz-link {
  left: 25%;
}

#eventz-link {
  right: 30%;
}

#recognitionz-link {
  right: 10px;
}

.badge-row {
  width: 100%;
  margin: auto;
}

.profile-title {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
}

.profile-pic {
  display: block;
  margin: auto;
  margin-top: 15px;
}

.profile-info,
.team-info {
  text-align: center;
  padding: 5px;
  list-style: none;
}

.team-info {
  font-size: 16px;
}

.profile-info {
  font-size: 16px;
}

.default-pic {
  text-align: center;
  margin: 20px;
}

.pic-info {
  list-style: none;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

.profile-title a {
  color: $grey;
}

.profile-link,
.badge-new-wrap {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

.team-link,
.badge-new-link {
  font-weight: bold;
  color: $bright-dark-blue;
}

.profile-link a {
  color: $white;
}

.profile-link a:hover,
.team-link:hover,
.badge-new-link:hover {
  color: $grey;
  text-decoration: none;
}

.profile-details {
  padding-left: 0;
}

.search-counter {
  font-size: 32px;
  margin-top: 15px;
}

.search-result {
  margin-top: 30px;
  font-size: 16px;
}

@media screen and (max-width: 939px) {
  .badge-new-wrap,
  .badge-list {
    padding-left: 0;
  }

  #bucket-link,
  #recognition-link,
  #edu-link,
  #skillz-link,
  #eventz-link,
  #recognitionz-link {
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
  }
}
